<BarDropdownItem To="Proveedores">
    <Div Style="float: left;">Proveedores</Div>
    <Icon Name="@("fa-truck")" Style="float: right; margin-right: 20px;" />
</BarDropdownItem>

<BarDropdownItem To="Contactos">
    <Div Style="float: left;">Contactos</Div>
    <Icon Name="@("fa-user-tie")" Style="float: right; margin-right: 20px;" />
</BarDropdownItem>

<BarDropdownItem To="Productos">
    <Div Style="float: left;">Productos</Div>
    <Icon Name="@("fa-hamburger")" Style="float: right; margin-right: 20px;" />
</BarDropdownItem>

<BarDropdownItem To="Categorias">
    <Div Style="float: left;">Categorías</Div>
    <Icon Name="@("fa-list-alt")" Style="float: right; margin-right: 20px;" />
</BarDropdownItem>

<BarDropdownItem To="Cajas">
    <Div Style="float: left;">Cajas</Div>
    <Icon Name="@("fa-cash-register")" Style="float: right; margin-right: 20px;" />
</BarDropdownItem>