<BarMenu>
    <BarStart>
        <BarItem>
            <BarLink To="">
                <Div Style="float: left;">Inicio</Div>
                <BarIcon IconName="@("fa-home")" Style="float: right; margin-right: 20px;" />
            </BarLink>
        </BarItem>

        <BarItem>
            <BarLink To="Proveedores">
                <Div Style="float: left;">Proveedores</Div>
                <BarIcon IconName="@("fa-truck")" Style="float: right; margin-right: 20px;" />
            </BarLink>
        </BarItem>

        <BarItem>
            <BarLink To="Contactos">
                <Div Style="float: left;">Contactos</Div>
                <BarIcon IconName="@("fa-user-tie")" Style="float: right; margin-right: 20px;" />
            </BarLink>
        </BarItem>

        <BarItem>
            <BarLink To="Productos">
                <Div Style="float: left;">Productos</Div>
                <BarIcon IconName="@("fa-hamburger")" Style="float: right; margin-right: 20px;" />
            </BarLink>
        </BarItem>

        <BarItem>
            <BarLink To="Categorias">
                <Div Style="float: left;" >Categorías</Div>
                <BarIcon IconName="@("fa-list-alt")" Style="float: right; margin-right: 20px;" />
            </BarLink>
        </BarItem>

        <BarItem>
            <BarLink To="Cajas">
                <Div Style="float: left;">Cajas</Div>
                <BarIcon IconName="@("fa-cash-register")" Style="float: right; margin-right: 20px;" />
            </BarLink>
        </BarItem>
    </BarStart>
</BarMenu>